function Game.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push constant 32
push constant 32
push constant 16
push constant 16
push constant 4
call Player.new 5
pop this 0
push this 0
call Player.addSegment 1
pop temp 0
push constant 264
push constant 136
push constant 5
call Food.new 3
pop this 1
push this 0
push this 1
call Player.setFood 2
pop temp 0
push pointer 0
return
function Game.run 4
push argument 0
pop pointer 0
push constant 0
pop local 3
push constant 4
pop local 1
push constant 0
pop local 2
label WHILE_EXP0
push local 3
not
not
if-goto WHILE_END0
call Keyboard.keyPressed 0
pop local 0
push local 0
push constant 0
eq
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 2
call Random.setSeed 1
pop temp 0
label IF_FALSE0
push local 0
push constant 131
eq
push local 1
push constant 2
eq
not
and
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 1
pop local 1
label IF_FALSE1
push local 0
push constant 133
eq
push local 1
push constant 1
eq
not
and
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 2
pop local 1
label IF_FALSE2
push local 0
push constant 130
eq
push local 1
push constant 4
eq
not
and
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 3
pop local 1
label IF_FALSE3
push local 0
push constant 132
eq
push local 1
push constant 3
eq
not
and
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push constant 4
pop local 1
label IF_FALSE4
push local 0
push constant 140
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push constant 0
not
pop local 3
label IF_FALSE5
push local 2
push constant 1
add
pop local 2
push pointer 0
push local 1
call Game.movePlayer 2
pop temp 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Game.movePlayer 0
push argument 0
pop pointer 0
push argument 1
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
call Player.moveUp 1
pop temp 0
label IF_FALSE0
push argument 1
push constant 2
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 0
call Player.moveDown 1
pop temp 0
label IF_FALSE1
push argument 1
push constant 3
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 0
call Player.moveLeft 1
pop temp 0
label IF_FALSE2
push argument 1
push constant 4
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 0
call Player.moveRight 1
pop temp 0
label IF_FALSE3
push constant 100
call Sys.wait 1
pop temp 0
push constant 0
return
function Game.dispose 0
push argument 0
pop pointer 0
push this 0
call Player.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
